<app-page-sub-header header="About Lantern"></app-page-sub-header>

<div class="format-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Leo vel fringilla est ullamcorper. In est ante in nibh. 
        Fermentum iaculis eu non diam phasellus vestibulum lorem sed. Justo nec ultrices dui sapien 
        eget mi proin sed libero. Amet consectetur adipiscing elit duis tristique sollicitudin. 
        Ornare lectus sit amet est placerat in egestas erat imperdiet. Volutpat lacus laoreet non curabitur.
        Posuere sollicitudin aliquam ultrices sagittis. Est velit egestas dui id. Dictum fusce ut placerat
        orci nulla pellentesque dignissim. Donec massa sapien faucibus et molestie ac feugiat sed lectus.
    </p>
    <p>
        Dictumst quisque sagittis purus sit amet. Est ullamcorper eget nulla facilisi etiam dignissim.
        Varius sit amet mattis vulputate enim nulla aliquet porttitor. Neque laoreet suspendisse interdum
        consectetur libero id faucibus nisl tincidunt. Nisi lacus sed viverra tellus in. Proin sed libero
        enim sed faucibus. In fermentum et sollicitudin ac orci phasellus egestas. Nibh tortor id aliquet
        lectus proin nibh nisl. Ut sem nulla pharetra diam sit. Ac auctor augue mauris augue neque gravida in.
    </p>
    <p>
        Enim blandit volutpat maecenas volutpat. In dictum non consectetur a erat nam at lectus urna.
        Congue quisque egestas diam in arcu cursus euismod quis viverra. Elementum nisi quis eleifend quam
        adipiscing vitae. Condimentum mattis pellentesque id nibh tortor id aliquet lectus proin.
        Nisl pretium fusce id velit ut tortor pretium viverra. Pulvinar etiam non quam lacus suspendisse
        faucibus. Arcu cursus vitae congue mauris rhoncus aenean. Et egestas quis ipsum suspendisse ultrices
        gravida dictum fusce. Hac habitasse platea dictumst vestibulum rhoncus est. Eleifend donec pretium
        vulputate sapien nec sagittis aliquam malesuada bibendum. Gravida arcu ac tortor dignissim convallis
        aenean et. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. Felis bibendum ut
        tristique et egestas quis ipsum. Vitae et leo duis ut diam quam. In cursus turpis massa tincidunt dui
        ut ornare lectus sit. Velit dignissim sodales ut eu sem integer vitae justo.
    </p>
</div>
