.home-body {
    margin: 50px 20px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px 0px;

    .endpoint-metrics {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0px 15px;
    }

    .response-time-header {
        padding-top: 10px;
    }
}