.home-body {
    margin: 50px 20px;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px 0px;

    .endpoint-metrics {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .response-time-header {
        padding-top: 10px;
    }
}