<div class="home-body">
    <h5>Endpoint Metrics</h5>
    <div class="endpoint-metrics">
        <app-grafana-vis [inputUrl]=totalEndpoints></app-grafana-vis>
        <app-grafana-vis [inputUrl]=success></app-grafana-vis>
        <app-grafana-vis [inputUrl]=unsuccessful></app-grafana-vis>
        <app-grafana-vis [inputUrl]=unresponsive></app-grafana-vis>
        <!-- <app-grafana-vis [inputUrl]=newEndpoints  ></app-grafana-vis> -->
    </div>
    <h5 class="response-time-header">Response Time Metrics</h5>
    <app-grafana-vis [inputUrl]=responseTimeRange></app-grafana-vis>
    <app-grafana-vis [inputUrl]=currentResponseTime></app-grafana-vis>
</div>
