@import '@carbon/themes/scss/themes';

:host {
    display: grid;
    justify-items: stretch;
    border: 1px solid $ui-03;
}

.error-class {
    height: 300px;
    display: grid;
    align-items: center;
    margin: 0px 10px;
}

.grafana-vis {
    padding: 1px;
}

.if-div {
    justify-self: center;
}