@import '_variables.scss';

.format-body {
    padding: $page-padding;
    display: grid;

    .home-button {
        margin-top: 40px;
        padding: 10px;
    }

    h1, p {
        padding-bottom: $base-padding;
        justify-self: center;
    }
}