<div class="footer">
    <div class="lantern-github">
        <div class="top-row-div">
            <div>
                <a href="https://github.com/onc-healthit/lantern-front-end" class="github-link link-formatting">
                    <ibm-icon-logo-github20 class="icon-formatting github-icon"></ibm-icon-logo-github20>
                    <div class="github-text">Lantern on Github</div>
                </a>
            </div>
            <div class="health-it">
                <a href="https://healthit.gov" class="link-formatting">HealthIT.gov</a>
            </div>
        </div>
        <div class="version-div">
            Version 0.0.1
        </div>
    </div>
</div>
